/* CSS style for HTML version of vrml_engine documentation. */

@import "cge-pasdoc.css";

.content {
  margin-left: 0 !important; /* override cge-pasdoc.css, that assumes left navigation column */
}

pre.screen {
  border: 1px solid #aaaaaa;
  background-color: #f9f9f9;
  padding: 0.3em;
}

p.para_with_larger_screen_mini + div.figure {
  border: 1px solid black;

  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;

  /* This must be synchronized with screenshot mini size set by
     examples/Makefile for LARGER_MINI */
  width: 650px;
}

p.para_with_figure_850 + div.figure {
  border: 1px solid black;

  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;

  width: 850px;
}

div.figure {
  border: 1px solid black;

  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;

  /* This must be synchronized with screenshot mini size set by
     examples/Makefile */
  width: 350px;

  /* mobile-friendly (look correct on narrow screens) */
  max-width: 100%;
  box-sizing: border-box; /* https://developer.mozilla.org/en/docs/Web/CSS/box-sizing */
}

.figure-contents img {
  /* mobile-friendly (look correct on narrow screens) */
  max-width: 100%;
}

/* make body begin look better, similar to our manual prev/next headers */
.navheader th {
  text-align: center !important;
}
.navheader, .navfooter {
  width: 100%;
  border: thin solid #ffeaa9;
  background: #fff4d2;
  padding: 0.3em;
}
.navheader {
  margin-bottom: 1em;
}
.navfooter {
  margin-top: 1em;
}
.navheader hr,
.navfooter hr {
  display: none;
}
.navheader img,
.navfooter img {
  width: 3em;
  height: 3em;
}
.navheader td,
.navheader th,
.navfooter td,
.navfooter th {
  border: 0;
}
