body { font-family: sans-serif; }
code.literal { background-color: #f0f0f0; }

pre.screen {
  border: 1px solid #aaaaaa;
  background-color: #f9f9f9;
  padding: 0.3em;
}

span.underline { text-decoration: underline; }

/* Make <phrase role="italic"> render as italic */
span.italic { font-style: italic; }

/* Tests with making underline in <screen> better:
pre.screen span.underline {
  display: block;
  width: 90%;
  border-bottom: thin solid black;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
*/
