code.literal { background-color: #f0f0f0; }

pre.screen {
  border: 1px solid #aaaaaa;
  background-color: #f9f9f9;
  padding: 0.3em;
}

span.underline { text-decoration: underline; }

/* Make <phrase role="italic"> render as italic */
span.italic { font-style: italic; }

/* Tests with making underline in <screen> better:
pre.screen span.underline {
  display: block;
  width: 90%;
  border-bottom: thin solid black;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
*/

/* To make fog figures look good, otherwise the text stretches them too much. */
div.figure-contents table td { max-width: 400px; vertical-align: top; }

/* <figure> inside <para role="figure_2_column"> is assumed to be wider */
p.figure_2_column + div.figure {
  border: 1px solid black;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;

  /* This must be synchronized with HTML image size set by images/html/Makefile */
  width: 850px;
}

/* Break table into 1 column on narrow (mobile) screens */
@media (max-width: 900px) {
  p.figure_2_column + div.figure table td {
    display: inline-block;
  }
}

div.figure {
  border: 1px solid black;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;

  /* This must be synchronized with HTML image size set by images/html/Makefile */
  width: 450px;

  /* mobile-friendly (look correct on narrow screens) */
  max-width: 100%;
  box-sizing: border-box; /* https://developer.mozilla.org/en/docs/Web/CSS/box-sizing */
}

/* fo_vertical_space should not appear in HTML. */
p.fo_vertical_space { display: none; }

/* make space between callouts smaller */
div.calloutlist p {
  margin-bottom: 0em; margin-top: 1em;
}

/* Center titlepage (inside parent, and center text inside) */
div.book-titlepage {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  border: thin solid black;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

p.copyright { font-size: small; }
div.legalnotice { font-size: small; }

.book-titlepage img,
.figure-contents img {
  /* mobile-friendly (look correct on narrow screens) */
  max-width: 100%;
}

/* make body begin look better, similar to our manual prev/next headers */
.navheader th {
  text-align: center !important;
}
.navheader, .navfooter {
  width: 100%;
  border: thin solid #ffeaa9;
  background: #fff4d2;
  padding: 0.3em;
}
.navheader {
  margin-bottom: 1em;
}
.navfooter {
  margin-top: 1em;
}
.navheader hr,
.navfooter hr {
  display: none;
}
.navheader img,
.navfooter img {
  width: 3em;
  height: 3em;
}

.book-titlepage {
  margin-top: 1em;
  margin-bottom: 1em;
}
